!!! 5
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width,initial=1.0")
    title レスポンシブwedデザイン
    link(rel="stylesheet",type="text/css",href="http://yui.yahooapis.com/3.14.0/build/cssreset/cssreset-min.css")
    link(rel="stylesheet",href="mystyle.css")
  body
    div#header
      div#footerNavLink
        a(href="#footerNav") +
      h1 Header 
      div#headerNav
        ul
          li
            a(href="") Home
          li
            a(href="") About 
          li
            a(href="") Contact 


    div#container
      div#main
        h2 Main 
        img(src="cafe.jpg")
        p Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. 
        div#youtube
          div.movie
            iframe(src="http://www.youtube.com/embed/XvannIjPtbQ",frameborder="0")
      div#sub
        h2 Sub
        p Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. 
    div#footer
      div#footerNav
        ul
          li
            a(href="") Home
          li
            a(href="") About 
          li
            a(href="") Contact 
      p Footer


    include _livereload 
