!!! 5
html(lang="ja")
  head
    meta(charset="utf-8")
    title レスポンシブwedデザイン
    link(rel="stylesheet",href="mystyle.css")
  body
    div#header
      div#footerNavLink
        a(href="") +
      h1 Header 
      div#headerNav
        ul
          li
            a(href="") Home
          li
            a(href="") About 
          li
            a(href="") Contact 


    div#container
      div#main
        h2 Main
        img(src="cafe.jpg")
        p Hello.Hello.Hello.Hello.Hello.Hello.Hello.
      div#sub
        h2 Sub
        p Hello.Hello.Hello.Hello.Hello.Hello.Hello.
      div#sub
    div#footer
      p Footer
      div#footerNav
        ul
          li
            a(href="") Home
          li
            a(href="") About 
          li
            a(href="") Contact 


    include _livereload 
